In [1]:
import sqlite3 
db = sqlite3.connect('IMDB.sqlite')
db

In [1]:
import sqlite3 
db = sqlite3.connect('School.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [4]:
sql_query = 'Create Table Student (RollNumber int Primary key,Name Text,Age int)'
cur.execute(sql_query)

In [7]:
cur.execute('Insert into Student values (101,"sujith",19)')

In [14]:
db.commit()

In [13]:
cur.execute('Insert into Student values (122,"sujith",19)')

In [3]:
import sqlite3 
db = sqlite3.connect('Employee.sqlite')
db

In [2]:
cur = db.cursor()
cur

NameError: name 'db' is not defined

In [17]:
cur.execute('Create Table EmployeeDetail (employee_id int Primary key,name Text,age int,department Text,salary int)')

In [18]:
cur.execute('Insert into EmployeeDetail values (100,"Rishav",25,"Marketing",50000)')

In [19]:
cur.execute('Insert into EmployeeDetail values (101,"Abhishek",26,"Operations",60000)')

In [20]:
cur.execute('Insert into EmployeeDetail values (102,"Aman",24,"Human Resource",75000)')

In [24]:
db.commit()

In [23]:
cur.execute('Update EmployeeDetail set salary = 50000 where employee_id = 100')

In [ ]:
cur.execute('DELETE from EmployeeDetail where employee_id = 100')

In [8]:
import sqlite3
db = sqlite3.connect('Employee.sqlite')
cur = db.cursor()
cur.execute('DELETE from EmployeeDetail where employee_id = 100')
db.commit()

OperationalError: database is locked

In [4]:
cur.execute('DELETE from EmployeeDetail where employee_id = 101')

OperationalError: no such table: EmployeeDetail

In [12]:
import sqlite3
db = sqlite3.connect('Employee.sqlite')
cur = db.cursor()
#cur.execute('Insert into EmployeeDetail values (100,"Rishav",25,"Marketing",50000)')
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]
values = []
for i in the range(12):
    values[i] = (employee_id[i],name[i],age[i],department[i],salary[i])
print(values)
#cur.execute('insert into EmployeeDeatail values (?,?,?)',)

#db.commit()

SyntaxError: invalid syntax (<ipython-input-12-596d0509a056>, line 11)