In [1]:
from sklearn.linear_model import LogisticRegression as LR
import numpy as np
import pandas as pd

In [2]:
from IPython.display import Image
Image(url= "https://static1.squarespace.com/static/5006453fe4b09ef2252ba068/5095eabce4b06cb305058603/5095eabce4b02d37bef4c24c/1352002236895/100_anniversary_titanic_sinking_by_esai8mellows-d4xbme8.jpg")

In [3]:
data = pd.read_csv("titanic_train.csv")

In [4]:
data.head(5)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [5]:
def Sex(string):
    if string == "male":
        return 0
    else:
        return 1

In [6]:
def Age(age):
    age = str(age)
    if age != "nan":
        return int(float(age))
    else:
        return 0

In [7]:
def Cabin(cabin):
    cabin = str(cabin)
    if cabin != "nan":
        return 1
    else:
        return 0

In [8]:
def Embarked(emb):
    emb = str(emb)
    if emb == "C":
        return 1
    elif emb == "Q":
        return 2
    elif emb == "S":
        return 3
    else:
        return 0

In [9]:
def change_dtype(datatype):
    datatype = str(datatype)
    if datatype != "nan":
        return int(float(datatype))
    else:
        return 0

In [23]:
new_data = pd.DataFrame()
new_data["Age"] = data["Age"].apply(Age)
new_data["Sex"] = data["Sex"].apply(Sex)
new_data["SibSp"] = data["SibSp"].apply(change_dtype)
new_data["Parch"] = data["Parch"].apply(change_dtype)
new_data["Fare"] = data["Fare"].apply(change_dtype)
new_data["Cabin"] = data["Cabin"].apply(Cabin)
new_data["Embarked"] = data["Embarked"].apply(Embarked)
#new_data["Age_Age"] = new_data["Age"]*new_data["Age"]
#new_data["Sex_SibSp"] = new_data["Sex"]*new_data["SibSp"]
#new_data["Sex_Parch"] = new_data["Sex"]*new_data["Parch"]
#new_data["SibSp_Parch"] = new_data["SibSp"]*new_data["Parch"]
#new_data["Cabin_Embarked"] = new_data["Cabin"]*new_data["Embarked"]

In [24]:
new_data.head(5)

   Age  Sex  SibSp  Parch  Fare  Cabin  Embarked
0   29    1      1      0    26      0         3
1    0    0      0      0     8      0         3
2   39    0      0      0    26      0         3
3   29    1      0      4    21      0         3
4   25    0      0      0     7      0         3

In [25]:
x_train = np.array(new_data)
y_train = np.array(data["Survived"])

In [26]:
model = LR()
model.fit(x_train, y_train)

C:\Users\DAVKAUR\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [27]:
model.score(x_train, y_train)

0.7844311377245509

In [28]:
test_data = pd.read_csv("titanic_test.csv")

In [29]:
x_test = pd.DataFrame()
x_test["Age"] = test_data["Age"].apply(Age)
x_test["Sex"] = test_data["Sex"].apply(Sex)
x_test["SibSp"] = test_data["SibSp"].apply(change_dtype)
x_test["Parch"] = test_data["Parch"].apply(change_dtype)
x_test["Fare"] = test_data["Fare"].apply(change_dtype)
x_test["Cabin"] = test_data["Cabin"].apply(Cabin)
x_test["Embarked"] = test_data["Embarked"].apply(Embarked)
#x_test["Age_Age"] = x_test["Age"]*x_test["Age"]
#x_test["Sex_SibSp"] = x_test["Sex"]*x_test["SibSp"]
#x_test["Sex_Parch"] = x_test["Sex"]*x_test["Parch"]
#x_test["SibSp_Parch"] = x_test["SibSp"]*x_test["Parch"]
#x_test["Cabin_Embarked"] = x_test["Cabin"]*x_test["Embarked"]

In [30]:
x_test_array = np.array(x_test)
y_predict = model.predict(x_test_array)
model.score(x_train, y_train)

0.7844311377245509

In [31]:
model.predict_proba(x_test_array)

array([[0.85767434, 0.14232566],
       [0.11846161, 0.88153839],
       [0.77883893, 0.22116107],
       [0.4460142 , 0.5539858 ],
       [0.59229437, 0.40770563],
       [0.83639907, 0.16360093],
       [0.82698421, 0.17301579],
       [0.77883893, 0.22116107],
       [0.28326055, 0.71673945],
       [0.80195418, 0.19804582],
       [0.13362713, 0.86637287],
       [0.80287331, 0.19712669],
       [0.05203551, 0.94796449],
       [0.29427611, 0.70572389],
       [0.60149149, 0.39850851],
       [0.86938471, 0.13061529],
       [0.83532397, 0.16467603],
       [0.8696792 , 0.1303208 ],
       [0.83758456, 0.16241544],
       [0.25578641, 0.74421359],
       [0.25419617, 0.74580383],
       [0.83232658, 0.16767342],
       [0.12827188, 0.87172812],
       [0.36791005, 0.63208995],
       [0.80287331, 0.19712669],
       [0.4837752 , 0.5162248 ],
       [0.84387411, 0.15612589],
       [0.86797026, 0.13202974],
       [0.32766709, 0.67233291],
       [0.35378494, 0.64621506],
       [0.83428552, 0.16571448],
       [0.97651244, 0.02348756],
       [0.8433379 , 0.1566621 ],
       [0.84933385, 0.15066615],
       [0.8697474 , 0.1302526 ],
       [0.30040125, 0.69959875],
       [0.28009155, 0.71990845],
       [0.81242581, 0.18757419],
       [0.84615179, 0.15384821],
       [0.62181585, 0.37818415],
       [0.21979091, 0.78020909],
       [0.83758456, 0.16241544],
       [0.83667601, 0.16332399],
       [0.84615179, 0.15384821],
       [0.28847028, 0.71152972],
       [0.52030362, 0.47969638],
       [0.87767744, 0.12232256],
       [0.21979091, 0.78020909],
       [0.83376027, 0.16623973],
       [0.79579513, 0.20420487],
       [0.82778688, 0.17221312],
       [0.25672615, 0.74327385],
       [0.11135484, 0.88864516],
       [0.28532047, 0.71467953],
       [0.8569954 , 0.1430046 ],
       [0.89632669, 0.10367331],
       [0.78459523, 0.21540477],
       [0.85362281, 0.14637719],
       [0.8729635 , 0.1270365 ],
       [0.82384133, 0.17615867],
       [0.82933589, 0.17066411],
       [0.56093742, 0.43906258],
       [0.25449109, 0.74550891],
       [0.21979091, 0.78020909],
       [0.10577152, 0.89422848],
       [0.89686145, 0.10313855],
       [0.84396493, 0.15603507],
       [0.71666223, 0.28333777],
       [0.09231595, 0.90768405],
       [0.62737828, 0.37262172],
       [0.83464459, 0.16535541],
       [0.84754316, 0.15245684],
       [0.45922212, 0.54077788],
       [0.84603896, 0.15396104],
       [0.85092149, 0.14907851],
       [0.03263354, 0.96736646],
       [0.33959135, 0.66040865],
       [0.85146999, 0.14853001],
       [0.63805142, 0.36194858],
       [0.87497455, 0.12502545],
       [0.86932086, 0.13067914],
       [0.07243384, 0.92756616],
       [0.91524652, 0.08475348],
       [0.64722722, 0.35277278],
       [0.83448793, 0.16551207],
       [0.24188649, 0.75811351],
       [0.52544106, 0.47455894],
       [0.48386302, 0.51613698],
       [0.83758456, 0.16241544],
       [0.80287331, 0.19712669],
       [0.24574281, 0.75425719],
       [0.8795938 , 0.1204062 ],
       [0.85029493, 0.14970507],
       [0.2987516 , 0.7012484 ],
       [0.77883893, 0.22116107],
       [0.6575476 , 0.3424524 ],
       [0.86908632, 0.13091368],
       [0.6125806 , 0.3874194 ],
       [0.93294738, 0.06705262],
       [0.07025896, 0.92974104],
       [0.21979091, 0.78020909],
       [0.80103184, 0.19896816],
       [0.05759693, 0.94240307],
       [0.95736932, 0.04263068],
       [0.26351777, 0.73648223],
       [0.0449439 , 0.9550561 ],
       [0.89683969, 0.10316031],
       [0.86311643, 0.13688357],
       [0.97651244, 0.02348756],
       [0.83679438, 0.16320562],
       [0.83166211, 0.16833789],
       [0.11524453, 0.88475547],
       [0.37574878, 0.62425122],
       [0.63809318, 0.36190682],
       [0.35306008, 0.64693992],
       [0.89098297, 0.10901703],
       [0.87056498, 0.12943502],
       [0.21979091, 0.78020909],
       [0.88424513, 0.11575487],
       [0.80287331, 0.19712669],
       [0.87318811, 0.12681189],
       [0.80287331, 0.19712669],
       [0.85300564, 0.14699436],
       [0.83746665, 0.16253335],
       [0.72713596, 0.27286404],
       [0.92522703, 0.07477297],
       [0.92742332, 0.07257668],
       [0.87646095, 0.12353905],
       [0.95866368, 0.04133632],
       [0.4837752 , 0.5162248 ],
       [0.86527993, 0.13472007],
       [0.83384295, 0.16615705],
       [0.85444555, 0.14555445],
       [0.83872358, 0.16127642],
       [0.84153326, 0.15846674],
       [0.80287331, 0.19712669],
       [0.26421371, 0.73578629],
       [0.49101698, 0.50898302],
       [0.28326055, 0.71673945],
       [0.56806321, 0.43193679],
       [0.75277652, 0.24722348],
       [0.8433379 , 0.1566621 ],
       [0.60095929, 0.39904071],
       [0.86902116, 0.13097884],
       [0.81520605, 0.18479395],
       [0.83892161, 0.16107839],
       [0.83235128, 0.16764872],
       [0.85351451, 0.14648549],
       [0.21979091, 0.78020909],
       [0.08516709, 0.91483291],
       [0.01862524, 0.98137476],
       [0.83072712, 0.16927288],
       [0.58958198, 0.41041802],
       [0.84048224, 0.15951776],
       [0.25034102, 0.74965898],
       [0.80437369, 0.19562631],
       [0.65487721, 0.34512279],
       [0.32113299, 0.67886701],
       [0.83235128, 0.16764872],
       [0.88066443, 0.11933557],
       [0.80195418, 0.19804582],
       [0.30235048, 0.69764952],
       [0.3751401 , 0.6248599 ],
       [0.21979091, 0.78020909],
       [0.0864396 , 0.9135604 ],
       [0.83611988, 0.16388012],
       [0.76878225, 0.23121775],
       [0.80287331, 0.19712669],
       [0.38450155, 0.61549845],
       [0.2896789 , 0.7103211 ],
       [0.29942195, 0.70057805],
       [0.397965  , 0.602035  ],
       [0.3032659 , 0.6967341 ],
       [0.78815508, 0.21184492],
       [0.08182325, 0.91817675],
       [0.83758456, 0.16241544],
       [0.87786415, 0.12213585],
       [0.82933589, 0.17066411],
       [0.81781549, 0.18218451],
       [0.31185062, 0.68814938],
       [0.84475005, 0.15524995],
       [0.75277652, 0.24722348],
       [0.95648499, 0.04351501],
       [0.23797359, 0.76202641],
       [0.26837112, 0.73162888],
       [0.86344413, 0.13655587],
       [0.31116481, 0.68883519],
       [0.62406867, 0.37593133],
       [0.06880959, 0.93119041],
       [0.8516554 , 0.1483446 ],
       [0.8330382 , 0.1669618 ],
       [0.87811349, 0.12188651],
       [0.10149469, 0.89850531],
       [0.80195418, 0.19804582],
       [0.85960482, 0.14039518],
       [0.30100393, 0.69899607],
       [0.0658341 , 0.9341659 ],
       [0.32385558, 0.67614442],
       [0.34476488, 0.65523512],
       [0.07362078, 0.92637922],
       [0.48799296, 0.51200704],
       [0.5041207 , 0.4958793 ],
       [0.83758456, 0.16241544],
       [0.60393758, 0.39606242],
       [0.77883893, 0.22116107],
       [0.83532751, 0.16467249],
       [0.81207971, 0.18792029],
       [0.8433379 , 0.1566621 ],
       [0.06768696, 0.93231304],
       [0.52406761, 0.47593239],
       [0.8334777 , 0.1665223 ],
       [0.29205309, 0.70794691],
       [0.83723062, 0.16276938],
       [0.63508633, 0.36491367],
       [0.27463004, 0.72536996],
       [0.06895704, 0.93104296],
       [0.83532397, 0.16467603],
       [0.80195418, 0.19804582],
       [0.87079321, 0.12920679],
       [0.61538605, 0.38461395],
       [0.05554917, 0.94445083],
       [0.86662578, 0.13337422],
       [0.67773879, 0.32226121]])

In [19]:
np.savetxt("titanic_prediction.csv", y_predict, fmt = ("%.0f"))