In [3]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
training=pd.read_csv('0000000000002429_training_titanic_x_y_train.csv').copy()
testing=pd.read_csv('0000000000002429_test_titanic_x_test.csv').copy()

In [32]:
training.describe

<bound method NDFrame.describe of      Survived     Names  sex    pclass  embarked      fare     parch  sibsp  \
0           1  0.133333    0  0.666667       0.0  0.050749  0.000000  0.125
1           0  0.866667    1  1.000000       0.0  0.015713  0.000000  0.000
2           0  0.866667    1  0.666667       0.0  0.050749  0.000000  0.000
3           0  0.133333    0  1.000000       0.0  0.041136  0.666667  0.000
4           0  0.866667    1  1.000000       0.0  0.013761  0.000000  0.000
..        ...       ...  ...       ...       ...       ...       ...    ...
663         1  1.000000    0  0.666667       0.0  0.020495  0.000000  0.000
664         0  0.866667    1  1.000000       1.0  0.015127  0.000000  0.000
665         1  0.866667    1  1.000000       0.0  0.110272  0.000000  0.000
666         0  1.000000    0  1.000000       0.0  0.019202  0.000000  0.000
667         1  1.000000    0  1.000000       1.0  0.030254  0.000000  0.125

     cabins   tickets     age
0       1.0  0.073651  0.3625
1       1.0  0.000795  0.3625
2       1.0  0.080822  0.4875
3       1.0  0.112826  0.3625
4       1.0  0.126422  0.3125
..      ...       ...     ...
663     1.0  0.004800  0.2125
664     1.0  0.120150  0.3625
665     1.0  0.000516  0.4000
666     1.0  0.002435  0.2750
667     1.0  0.118411  0.3500

[668 rows x 11 columns]>

In [33]:
 training.head()

,Survived,Names,sex,pclass,embarked,fare,parch,sibsp,cabins,tickets,age
0,1,0.133333,0,0.666667,0.0,0.050749,0.000000,0.125,1.0,0.073651,0.3625
1,0,0.866667,1,1.000000,0.0,0.015713,0.000000,0.000,1.0,0.000795,0.3625
2,0,0.866667,1,0.666667,0.0,0.050749,0.000000,0.000,1.0,0.080822,0.4875
3,0,0.133333,0,1.000000,0.0,0.041136,0.666667,0.000,1.0,0.112826,0.3625
4,0,0.866667,1,1.000000,0.0,0.013761,0.000000,0.000,1.0,0.126422,0.3125